
body {
    background-color: rgb(131, 123, 123); 
    margin: 50px;
    font-family: Arial, sans-serif; 
  }
  
.todo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  
  .todo-form {
    background-color: antiquewhite;
    border: 2px solid black;
    padding: 10px;
    display: flex;
    align-items: center;
    width: 500px;
  }
  
  .todo-label {
    margin-right: 10px;
    flex: 1;
  }
  
  .todo-input {
    flex: 2;
    margin: 5px;
    padding: 5px;
    width: 100%;
    box-sizing: border-box; /* Ensure padding is included in width */
  }
  
  .todo-button {
    padding: 7px 12px;
    border: none;
    background-color: rgb(131, 123, 123);
    color: white;
    border-radius: 5px;
    cursor: pointer;
    width: 100px;
  }
  
  .todo-list {
    list-style-type: none;
    padding: 0;
    width: 500px;
    
  }
  
  .todo-item {
    border: 2px solid rgba(0, 0, 0, 0.5);
    padding: 10px;
    margin: 5px 0; /* Reduced margin for better alignment */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: aliceblue;
  }
  
  .todo-delete-button {
    background-color: transparent;
    border: none;
    color: #b9b9b9;
    cursor: pointer;
    font-size: 16px;
  }
  
  .todo-delete-button:hover {
    color: #cc0000;
  }
  